@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Proxima Nova', sans-serif;

  --container-8xl: 90rem;
  --breakpoint-md: 650px;
  --breakpoint-md: 1025px;

  --container-8xl: 90rem;
  --breakpoint-md: 650px;
  --breakpoint-md: 1025px;

  --color-curious-blue-50: oklch(0.978 0.011 234.814);
  --color-curious-blue-100: oklch(0.95 0.022 239.429);
  --color-curious-blue-200: oklch(0.896 0.049 234.187);
  --color-curious-blue-300: oklch(0.815 0.091 233.14);
  --color-curious-blue-400: oklch(0.733 0.128 233.733);
  --color-curious-blue-500: oklch(0.634 0.135 238.396);
  --color-curious-blue-600: oklch(0.56 0.132 243.136);
  --color-curious-blue-700: oklch(0.478 0.112 243.857);
  --color-curious-blue-800: oklch(0.427 0.093 241.472);
  --color-curious-blue-900: oklch(0.378 0.079 242.34);
  --color-curious-blue-950: oklch(0.284 0.059 245.802);

  --color-envision-green-50: oklch(0.932 0.166 130.998);
  --color-envision-green-100: oklch(0.88 0.144 140.43);
  --color-envision-green-200: oklch(0.8 0.156 140.463);
  --color-envision-green-300: oklch(0.72 0.164 140.459);
  --color-envision-green-400: oklch(0.641 0.17 140.385);
  --color-envision-green-500: oklch(0.551 0.169 140.275);
  --color-envision-green-600: oklch(0.482 0.162 142.025);
  --color-envision-green-700: oklch(0.405 0.138 142.495);
  --color-envision-green-800: oklch(0.332 0.113 142.495);
  --color-envision-green-900: oklch(0.254 0.086 142.495);
  --color-envision-green-950: oklch(0.154 0.052 142.495);

  --text-xs: 0.64rem;
  --text-sm: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.562rem;
  --text-2xl: 1.953rem;
  --text-3xl: 2.441rem;
  --text-4xl: 3.052rem;
  --text-5xl: 3.815rem;
  --text-6xl: 4.57rem;
  --text-7xl: 6.25rem;
  --text-8xl: 8rem;
  --text-9xl: 9.25rem;
}

:root {
  interpolate-size: allow-keywords;

  --ui-primary: var(--color-curious-blue-700);
  --ui-secondary: var(--color-envision-green-700);
  --ui-container: var(--container-8xl);
}

html {
  overscroll-behavior: none;
}

body {
  @media (min-width: 768px) {
  }
}

.site-grid {
  margin: auto;
  display: grid;
  padding-inline: 1rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-column-gap: 1.4rem;
}

@media (min-width: 650px) {
  .site-grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: 2rem;
    padding-inline: 1rem;
  }
}

@media (min-width: 1024px) {
  .site-grid {
    grid-template-columns: repeat(24, minmax(0, 1fr));
  }
}

.site-max {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 2%;
  width: 100%;
}

@media (min-width: 650px) {
  .site-max {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
